source_up .envrc || true

export RABBIT_MQ_USERNAME=${RABBIT_MQ_USERNAME:-"Erlang"}
export RABBIT_MQ_PASSWORD=${RABBIT_MQ_PASSWORD:-"Erlang"}
export RABBIT_MQ_HOST=${RABBIT_MQ_HOST:-"rabbitmq.hollywoodbets.net"}
export RABBIT_MQ_PORT=${RABBIT_MQ_PORT:-"5672"}
export RABBIT_MQ_SOCCER_GREYHOUND_QUEUE=${RABBIT_MQ_SOCCER_GREYHOUND_QUEUE:-"97SPB05D7A387B4ACC89833FE92D34C690BC93E3F66C"}
export RABBIT_MQ_HORSE_RACING_QUEUE=${RABBIT_MQ_HORSE_RACING_QUEUE:-"97HRB05D7A387B4ACC89833FE92D34C690BC93E3F66C"}
export RABBIT_MQ_LOTTO_QUEUE=${RABBIT_MQ_LOTTO_QUEUE:-"97LTB05D7A387B4ACC89833FE92D34C690BC93E3F66C"}
export RABBIT_MQ_IN_RUNNING_QUEUE=${RABBIT_MQ_IN_RUNNING_QUEUE:-"97IRB05D7A387B4ACC89833FE92D34C690BC93E3F66C"}